
# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Dependencies
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
frontend/dist-ssr/
frontend/tsconfig.tsbuildinfo 
backend/dist/ 
backend/tsconfig.tsbuildinfo 
tsconfig.json

# Coverage
frontend/coverage/
backend/coverage/

# Misc
*.local
.DS_Store
frontend/.DS_Store
backend/.DS_Store

# Database and Backups (se não versionados)
backend/src/database/*.sqlite
!backend/src/database/.gitkeep
backend/src/backups/
backend/.env